body, ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #191919;
}
p{
  z-index: 999;
  position: relative;
  color: #fff;
}
.site-logo {
	position: fixed;
	top: 30px;
	left: 60px;
	z-index: 9999;
}
.site-logo a {
	display: block;
	width: 10px;
	height: 64px;
  font-family: 'Black Han Sans', sans-serif;
}
.site-menu{
  text-transform: uppercase;
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 999;
}
.site-menu ul {
	width: 100%;
}
.site-menu ul li {
	display: inline;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
	margin-left: 15px;
}
.site-menu ul li a {
	display: block;
	padding: 20px;
}
.contact{
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  padding:0.5rem;
  background-color: rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.5)
}
.contact img{
  border-radius: 100%;
  display: block;
}
.bgimg {
  position: absolute;
}
.bgimg img{
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}
.sq {
  color: white;
  padding:1rem;
}
.sq-item{
  float: left;
  width: 25%;
  padding-top: 20%;
  position: relative;

}
.sq-item-anchor{
  background-color: orange;
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  margin: 1rem;
  padding:1rem;
  transition: all .5s;
  overflow: hidden;
  border: 0px solid white;
  border-radius: 10px;
  opacity: 0.8;
  font-size: 1rem;
}
.sq-item-large {
  width: 50%;
  padding-top:40%;
}
.sq-item-anchor:hover{
  margin:-1.5rem;
  z-index: 30;
  border: 5px solid white;
  opacity: 1;
  font-size: 1rem;
}
.sq-item-anchor-cover{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
}
.sq-item-anchor-cover .vimg img{
  width: 300px;
}
.sq-item-anchor-title{
  position: relative;
  z-index: 20;
}
.sq-item-anchor::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+49 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

z-index: 10;
}
.sq-item-anchor p{
  opacity :0;
  transition: .5s;
  }
.sq-item-anchor:hover p{
  opacity :1;

}
